name: ${role_name}
description: ${description_yaml}
system_prompt_file: system.md
scope:
  in_scope:
${in_scope_yaml}
  out_of_scope:
${out_of_scope_yaml}
constraints:
  single_role_focus: true
${skills_field}
